body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    align-items: center;
    text-align: center;
}

select {
    text-emphasis-color: white;
    color: rgb(95, 95, 95);
    box-shadow: #000000;
    border-radius: 20px;
    border-color: #8c009e;
    width: 6.9in;
    text-align: center;
}

select:hover {
    color: rgb(0, 0, 0);
    box-shadow: #000000;
    border-radius: 10px;
    border-color: chartreuse;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

button {
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-section {
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-section {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container label {
    display: inline-block;
    margin-right: 10px;
}

.search-container input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 5px  0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-container button[type="button"] {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}

.search-container button[type="button"]:hover {
    background-color: #8c009e;
}

#invoice_list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#invoice_list div {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#invoice_list div:last-child {
    border-bottom: none;
}